



h3{
    font-size:var(--fsz-2);
    font-weight: var(--bold);
    text-shadow: 3px 10px 10px rgba(0, 0, 0, 0.25);
}
h4{
    font-size:var(--fsz-4);
    font-weight: var(--reg);
    z-index: 15;
}



/*
    *****************
        PAGES
    *****************
*/
.pages{
    position: absolute;
    width: 100vw;
}

.page1{
    height: 85%;
}
.page2{
    height: 100vh;
}
.page3{
    height: 250vh;
}
.page4{
    height: 250vh;
}
.page5{
    height: 50vh;
}
/*
    *****************
        GENERALS
    *****************
*/


.backgrounds{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}
.backgrounds .bg-blue{
    width:100%;
    height: 100%;
    background: var(--blue);
    /* background: rgba(255, 192, 203, 0.384); */
    z-index: 0;
}

.background1{
    display: flex;
    justify-content: space-between;
}
.columns {
    width: 15%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    background-color: var(--blue);
}
.colG{
    /* left:0px; */
}
.colR{
    /* right: 0px; */
}


/*
            *************************
            *************************
                    P A G E 2
            *************************
            *************************

*/
.article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.article2 .container-inner{
    width: 70%;
    height: fit-content;
    margin-bottom: 5rem;
}

/*  Calcul de l'angle h2:
        Le triangle 1 est rectanble, sa hauteur definit par vh = la hauteur du triangle rectanlge opposé
        ou h2 est l'hypotenuse.
        tangante inverse de coté adj / coté opposé
        ici tan-1 (height triangle1/width triangle 1)
        donc tan-1(30vh/85vw) => FICHIER JS

*/
.article2 h2 {
    font-size: var(--fsz-1);
    color: var(--blue);
    transform:translateX(-5rem) translateY(-10rem);
    transform-origin: center;
    font-weight: var(--bold);
    position: absolute;
    top: 12vh;
}
.article2 p{
    font-size: var(--fsz-4);
    text-align: justify;
    line-height: 150%;
    margin: 3rem 1rem;
    color: var(--blue-darker);
}

/* BACKGROUNDS */
.page2{
    background-color: var(--blue);
}

.background2 .triangle1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 30vh solid var(--white);
    border-right: 85vw solid transparent;
    z-index: 6;
}
.background2 .triangle2{
    position: absolute;
    top: 0;
    left: calc(15vw - 85vw); /* left column page 1 width - triangle 1 width */
    width: 0;
    height: 0;
    border-top: 30vh solid var(--blue);
    border-right: 85vw solid transparent;
    z-index: 7
}


/*
            *************************
            *************************
                    P A G E 3
            *************************
            *************************

*/
.article3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--blue-darker);
    height: 100%;
    width: 100%;
}

.article3 .blocs{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.article3 .lines{
    width: 0.5rem;
    height: 120%;
    background: var(--gray);
    border-radius: 5px;
    margin: 0 auto;
}

.article3 .lineDown{
    height: 100%;
}

.article3 h3{
    font-size: var(--fsz-2);
    margin: 3rem 0 1rem;
}
.article3 .bloc-skills h3{
    font-size: var(--fsz-3);
    text-shadow: none;
    margin-bottom: 0;
}
.article3 h4{
    margin-bottom: 1rem;
}

.article3 ul{
    margin-top: 2rem;
}
.article3 li{
    margin-bottom: 1rem;
}


.article3 .cont-mid-txt-left,
.article3 .txt-right{
    width: 70ch;
    font-size: var(--fsz-5);
    line-height: 160%;
}

.article3 .blocs .txt-right{
    text-align: left;
}
.article3 .blocs .cont-mid-txt-left{
    text-align: right;
}

.article3 .txt-center p{
    text-align: center;
    width: 11ch;
    margin: 2rem;
}
.article3 .bloc-skills .txt-center p{
    visibility: hidden;
}

.article3 .blocs .txt-right ul{
    list-style: disc;
    text-align: left;
    margin-left: 3rem;
}

.bac{
    padding-bottom: 5rem;
}

.article3 .legendes{
    width: auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: var(--gray-darker);
    color: var(--white);
}
.article3 .legendes p{
    font-size: var(--fsz-3);
    text-align: center;
}

.article3 .legende-dark{
    background: var(--blue-darker)
}


.article3 .asides h2{
    position:absolute;
    top: 10%;
    left: 10%;
}
.article3 .aside{
    position:absolute;
    top: 10%;
    right: 10%;
}

/*  BACKGROUNDS */

.triangle3{
    position: absolute;
    top: 0;
    right: 0;
    border-right: 150vw solid var(--blue);
    border-bottom: 50vh solid transparent;
}

.triangle4{
    position: absolute;
    bottom: -1px;
    right: 0;
    border-left: 150vw solid var(--blue);
    border-top: 50vh solid transparent;
}


/*
            *************************
            *************************
                    P A G E 4
            *************************
            *************************

*/
.article4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--blue-darker);
    height: 100%;
    width: 100%;
}


/*  BACKGROUNDS */


/*
            *************************
            *************************
                    P A G E 5
            *************************
            *************************

*/